.skill {
  background-color: #f5eded;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  border: solid #fff;
  width: 450px;
  margin: 5px;
  flex-wrap: wrap;

  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin-bottom: 19px;
    font-weight: 500;
    line-height: 1.4074;
    color: #fff;

    &:hover {
      background: none;
      transition: all .3s;
    }
  }

  .description {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(198, 201, 216, .75);
  }

  @media (max-width: 950px) {
    justify-content: center;

  }
}







