.projectsBlock {
    height: 100vh;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;

}

.heading {
    background-color: #e7e1e1;
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 950px) {
    .projects {
        justify-content: center;

    }

}




