@import "src/common/styles/sass/variables";

.contactBlock {
  background: $bgColor_2;

  .skillsContainer {
    justify-content: flex-end;
    flex-direction: column;
    padding: 120px 0;

    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      & input, & textarea {
        width: 100%;
        background: #252527;
        margin-bottom: 15px;
        padding: 8px 12px;
        box-shadow: 0 0 4px #000;
        border-radius: 4px;
        border: 1px solid #4a4a4a;
        color: grey;

      }

      .submitBtn {
        background: none;
        margin-bottom: 15px;
        padding: 8px 12px;
        box-shadow: 0 0 4px #000;
        border-radius: 4px;
        border: 1px solid #4a4a4a;
        color: grey;

        &:hover {
          background: $bgColor_1;
          color: $textColor;
        }
      }

      @media (max-width: 700px) {
        width: 80%;
      }
    }
  }

}














