@import "src/common/styles/sass/variables";



.projectsBlock {
  background: $bgColor_1;

  .projectsContainer {
    padding: 120px 0;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;

      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
        justify-content: center;
      }
    }
  }

}












