@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.main {
    background: $bgColor_1;

    .mainContainer {
        padding: 120px 0;
        @include container();
        @include flex(row, space-around, center, wrap);

        .photo {
            width: 350px;
            height: 500px;

            @media (max-width: 470px) {
                width: 250px;
                height: 350px;

            }

            .ph {
                width: 350px;
                height: 500px;

                @media (max-width: 470px) {
                    width: 250px;
                    height: 350px;

                }
            }
        }

        .greeting {
            @include text($fontFamily_1, 17px, 1.2em, 400);
            width: 50%;
            margin-bottom: 30px;
            text-align: center;

            @media (max-width: 1500px) {
                width: 80%

            }

            & h2 {
                @include text($fontFamily_1, 60px, 1.4074, 700);
                margin-bottom: 15px;

                @media (max-width: 625px) {
                    font-size: 40px;
                }
            }


            .table {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;

                .row {
                    @include flex(row, center, center, wrap);
                    margin: 0 -20px;
                    padding: 0;

                    .active {
                        @include text($fontFamily_2, 20px, 1.2em, 700);
                        color: $accentColor;
                        margin: 10px;
                        display: inline-block;
                        padding-bottom: 4px;
                    }

                    .rowItem {
                        @include text($fontFamily_2, 20px, 1.2em, 700);
                        margin: 10px;
                        display: inline-block;
                        padding-bottom: 4px;

                    }
                }

                .column {
                    .contentColumn {
                        height: 270px;

                        & ul {
                            padding: 0;

                        }

                        & li {
                            @include text($fontFamily_2, 16px, 1.2em, 300);
                            color: $descriptionTextColor;
                            margin-bottom: 15px;
                            padding: 0;
                            list-style: none;


                            & a {
                                text-decoration: none;
                                color: $descriptionTextColor;

                            }
                        }
                    }
                }
            }
        }
    }
}


















