@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.banner {
  min-height: 100vh;
  background-image: url('../../assets/images/bgBanner.jpg');
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
  position: relative;


  .bannerContainer {
    @include container();
    @include flex(row, center, center, nowrap);


    .greeting {
      @include text($fontFamily_1, 55px, 1.2em, 700);
      width: 100%;
      margin: 0 0 30px;
      position: relative;
      //padding-right: 15px;
      padding: 150px 0 0;

      @media (max-width: 1300px) {
        padding: 200px 0 0;
        font-size: 35px;
        letter-spacing: 3px;

      }
      @media (max-width: 830px) {
        padding: 130px 0 0;
        font-size: 25px;
        letter-spacing: 1px;
      }

      span {
        color: $accentColor;
        font-size: 70px;
        @media (max-width: 500px) {
          font-size: 45px;
        }
      }
    }
  }

}



















