.main {
height: 100vh;
}

.mainContainer{
    justify-content: space-around;
}


.greeting {
width: 300px;
    background-color: #f5eded;}

.photo {
    width: 350px;
    height: 500px;
    border: solid 1px;
    background-color: #f5eded;}

.ph {
    width: 350px;
    height: 500px;




}

@media (max-width: 470px) {
    .ph {
        width: 250px;
        height: 400px;
    }

    .photo {
        width: 250px;
        height: 400px;
    }
}














