@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.menuItem {
  text-decoration: none;
  color: $textColor;

}

.active {
  @include text($fontFamily_2, 20px, 1.2em, 700);
  color: $accentColor;
  margin: 10px;
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;


}




