.header {
  color: black;
  height: 80px;
  width: 100%;
  background:inherit;
  position: absolute;
  //top: -35px;
  z-index: 999;
  .headerContainer {
    //justify-content: space-between;
  }


}

