@import "src/common/styles/sass/variables";

.backToTop{

  .btn{
    position: fixed;
    bottom: 20px;
    right: 25px;


    //cursor: pointer;
    //transition: opacity 0.2s linear 0s, visibility;
    opacity: 1;
    visibility: visible;
    &:hover{
      transform: translateY(-3px);

    }
  }

}








