.formControl {
    &.error input,
    &.error textarea {
        border: solid red 2px;
    }

    &.error span {
        color: red;
    }

    .formSummaryError {
        border: red 1px solid;
        padding: 5px;
        color: indianred;
    }
}
