@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
    width: 450px;
    display: flex;
    flex-direction: column; //???????
    text-align: center;
    position: relative;

    &:hover {
        &::before {
            position: absolute;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.6;

        }

        &:hover .projectInfo {
            bottom: 0;
            visibility: visible;
            transition: all .5s;

        }
    }


    .image {
        @include bgSettings();
        @include flex(row, center, center, nowrap);
        height: 300px;

    }

    .projectInfo {
        padding: 25px 20px;
        position: absolute;
        bottom: -220px;
        width: 100%;
        z-index: 3;
        visibility: hidden;

        .projectTitle {
            @include text($fontFamily_1, 30px, 1.4074, 500);
            margin-bottom: 19px;

        }

        .projectDescription {
            @include text($fontFamily_1, 17px, 30px, 400);
            color: $descriptionTextColor; //?????

        }

    }

}











