.navMenu {
    display: flex;
    justify-content: space-between;
    width: 330px;
    border: solid 1px;
}

.link {
    text-decoration: none;

}

@media (max-width: 413px) {
    .links {
        width: 100%;
    }
}