@import "src/common/styles/sass/variables";

.footer {
  background: #202020;
  font-family: $fontFamily;

  .footerContainer {
    flex-direction: column;
    justify-content: space-around;
    text-transform: none;
    font-size: 14px;
    color: $textColor;

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 330px;
      @media (max-width: 413px) {
        width: 100%;
      }
    }

    .text {
      padding: 25px 0;
      font-size: 12px;
    }
  }
}












