@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footer {
    background: $bgColor_2;
    font-family: $fontFamily_1;

    .footerContainer {
        @include container();
        @include flex(column, space-around, center, wrap);
        text-transform: none;
        font-size: 14px;
        color: $textColor;

        .icons {
            @include flex(row, space-between, center, wrap);
            width: 330px;

            @media (max-width: 413px) {
                width: 100%;
            }

            & .icon {
                text-decoration: none;
                color: $textColor;

                & :hover {
                    transform: translateY(-3px);
                    color: $accentColor;

                }
            }
        }

        .text {
            padding: 25px 0;
            font-size: 12px;
        }
    }
}












