@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.contactBlock {
    background: $bgColor_1;
    min-height: 85vh;

    .skillsContainer {
        @include container();
        @include flex(column, flex-end, center, wrap);
        padding: 120px 0;

        .form {
            width: 500px;
            @include flex(column, center, center, wrap);

            @media (max-width: 740px) {
                width: 100%;
            }



            .submitBtn {
                border-radius: 4px;
                font-size: 14px;
                font-weight: 700;
                padding: 0 23px;
                height: 40px;
                display: inline-block;
                line-height: 40px;
                text-transform: uppercase;
                text-decoration: none;
                background-color: inherit;
                color: $textColor;
                border: 2px solid #4a4a4a;

                &:hover {
                    border: 2px solid $accentColor;
                    background: $accentColor;
                    transform: translateY(-3px);
                    transition: all .3s cubic-bezier(.645, .045, .355, 1);

                }
            }


        }
    }

}














