.Btn {
  color: #fff;
  background: none;
  border: 1px solid hsla(0, 0%, 40%, .8);
  text-transform: uppercase;
  transition: all .3s;
  padding: 15px;

  &:hover {
    background: #302e2e;
    color: #fff;
  }
}

