@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    margin: 0 auto;
    background: #000000;
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
    min-height: 90vh;
    background-image: url("./assets/img/banner.jpg");
    background-position: 70% top;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    .banner {
        background-position: 90% top;
        background-size: 1000px;
    }
}


@media (max-width: 420px) {
    .banner {
        background-position: 100% top;
        background-size: 650px;
    }
}

