@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    margin: 0 auto;
    background: #000000;
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

