$textColor: #fff;
$descriptionTextColor: rgba(198, 201, 216, 0.75);

//$accentColor: #f9004d;
$accentColor: #2fb529;

$bgColor_1: #202020;
$bgColor_2: #111;

$fontFamily_1: 'Poppins', sans-serif;
$fontFamily_2: 'Montserrat', sans-serif;