.contacts {
    height: 70vh;

}

.skillsContainer {
    justify-content: flex-end;
    flex-direction: column;

}

.heading {
    background-color: #e7e1e1;
}

.form input {
    width: 500px;

    margin-bottom: 15px;
    padding: 8px 12px;

}

.form textarea {
    width: 500px;

    margin-bottom: 15px;
    padding: 8px 12px;

}

.form button {
    margin-bottom: 15px;
    padding: 8px 12px;

}

@media (max-width: 680px) {

}

@media (max-width: 680px) {
    .form input {
        width: 220px;
    }

    .form textarea {
        width: 220px;
    }
}

.text {
    height: 200px;
}

