@import "src/common/styles/sass/variables";

.navMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .menu {
        width: 300px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 520px) {
            width: 100%;

        }

    }

    .navMenuIcon {
        width: 100px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 520px) {
            display: none;

        }

    }

    .link {
        text-decoration: none;
        color: $textColor;

    }
}




