@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.navMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .menu {
        width: 300px;
        @include flex(row, space-between, center, nowrap);

        @media (max-width: 520px) {
            width: 100%;

        }


    }

    .navMenuIcon {
        width: 100px;
        @include flex(row, space-between, center, nowrap);

        @media (max-width: 520px) {
            display: none;

        }
        & .link:hover{
            transform: translateY(-3px);
            color: $accentColor;
        }

    }

    .link {
        text-decoration: none;
        color: $textColor;

    }
}




