@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";




.navMenuIcon {
    text-decoration: none;
    color: $textColor;

    &:hover {
        transform: translateY(-3px);
        color: $accentColor;
    }
}








